**/config.yaml
**/logs/**
/.idea
/true-love-server/cardSwipeRecords.json
/true-love-server/cardRecord.json
/true-love-server/moyu-jpg/
/true-love-server/zaobao-jpg/
/true-love-server/sd-jpg/
/true-love-server/models/
.DS_Store
true-love-base/.wcf.lock
true-love-base/.idea/modules.xml
true-love-base/.idea/**
/true-love-base/save-img/
true-love-base/__pycache__/**
**/__pycache__/**
credentials.json
token.pickle
/true-love-base/axautox4x/
*.iml
/**/wxautox4x
/**/wxauto_logs
/**/listen_chats.json
/**/wxautox4
/true-love-base/uv.lock
/**/sd-img
/**/wx_imgs
