**/config*.yaml
**/logs/**
**/.DS_Store
**/.idea
**/token.pickle
**/credentials.json
**/moyu-jpg/
**/zaobao-jpg/
**/sd-jpg/
**/.wcf.lock
**/.idea/modules.xml
**/.idea/**
**/save-img/
**/__pycache__/**
**/*.iml
**/wxautox4x
**/wxauto_logs
**/listen_chats.json
**/wxautox4
true-love-base/uv.lock
**/sd-img
**/tests
**/wx_imgs
**/gen_*
**/*.db
**/dbs
**/models_override.json
AGENTS.md
CLAUDE.md