name: true-love-ai Deploy to ser1 via SSH

on:
  push:
    branches: [ "master" ]
    paths:
      - "true-love-ai/**"
      - ".github/workflows/true-love-server.yml"

env:
  SERVER_IP: ${{ secrets.M8S_PROXY_HOST }}
  SERVER_PORT: ${{ secrets.M8S_PROXY_HOST }}
  SERVER_USER: admin
  SERVER_SSH_KEY: ${{ secrets.SERVER_SSH_KEY }}

permissions:
  contents: read
  id-token: write

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    environment: production

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup SSH and Run Commands
        uses: webfactory/ssh-agent@v0.5.3
        with:
          ssh-private-key: ${{ env.SERVER_SSH_KEY }}

      - name: Execute ai Commands Over SSH
        run: |
          ssh -o StrictHostKeyChecking=no -p ${{ env.SERVER_PORT }} ${{ env.SERVER_USER }}@${{ env.SERVER_IP }} << 'EOF'
            set -e
            cd /root/true-love-n/true-love-ai
          
            git pull
            uv sync --locked
            systemctl restart app-tl-ai
          EOF

      - name: Notify - ai Success
        if: success()
        run: |
          curl --location ${{ secrets.TURE_LOVE_URL_PATH }} \
          --header 'Content-Type: application/json' \
          --data '{
            "token": "${{ secrets.TURE_LOVE_TOKEN }}",
            "sendReceiver": "master",
            "atReceiver": "",
            "content": "真爱粉ai模块已经成功重启"
          }'
